@CHARSET "ISO-8859-1";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*END RESET**/


html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	overflow: hidden;
}
.layout {
	font-size: 12px;
	font-family: Roboto;
	width: 100%;
	height: 100%;
}
body a {
	text-decoration: none;
	color: inherit;
}
.layout * {
	box-sizing: border-box;
}
.clearfix {
	content: '';
	clear: both;
	display: block;
}
.topbar {
	background: #03a9f4;
	height: 75px;
}
.topbar-left {
	background: #0277bd;
	width: 250px;
	height: 100%;
	box-shadow:3px 0 6px rgba(0, 0, 0, 0.3);
	position: relative;
}
.content {
	background: #f7f7f7;
	height: calc(100% - 75px);
	overflow: auto;
}
.content-float-menu {
	width: 250px;
	background: white;
	height: 100%;
	position: fixed;
	left: -250px;
	box-shadow: 5px 4px 10px #c3c3c3;
	transition: left 0.3s;
}
.content-float-menu.active {
	left:0px;
	transition: left 0.3s;
}

.content-page {
	padding: 20px;
	margin-left: 0px;
	transition: margin-left 0.3s;
}
.content-page.active {
	margin-left: 250px;
	transition: margin-left 0.3s;
}
.topbar-left i {
	background: #ffc107;
	cursor: pointer;
	color: black;
	font-size: 19px;
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	transition: transform 0.3s;
	float: right;
	position: absolute;
	top: 20px;
	border-radius: 34px;
	width: 35px;
	text-align: center;
	height: 33px;
	padding: 8px 0px 0px 3px;
	right: -18px;
}
.topbar-left i:hover {
	background: black;
	color: #ffc107;
}

.topbar-left i.active {
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari 3-8 */
    transform: rotate(180deg);
    transition: transform 0.3s;
}
.img-circle {
	background-color: #aaa;
	border-radius: 50%;
	width: 55px;
	height: 55px;
	overflow: hidden;
	position: relative;
	margin-left: 95px;
}
.img-circle img {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.content-float-top-background {
	padding-top: 15px;
	background: rgba(0,0,0,0.02);
}
.content-float-name {
	color: #212121;
	font-size: 17px;
	width: 100%;
	text-align: center;
	padding: 10px 0;
}
.content-float-name i {
	-ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari 3-8 */
    transform: rotate(0deg);
    transition: transform 0.3s;
    font-size: 13px;
    cursor: pointer;
}
.content-float-name i.active {
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari 3-8 */
    transform: rotate(180deg);
    transition: transform 0.3s;
}
.content-float-user-options {
	padding-bottom: 0px;
	height: 0px;
	width: 100%;
	overflow: hidden;
	border-bottom: 0px solid #d6d5d5;
	opacity: 0;
	transition: height 0.7s, padding-top 0.7s, padding-bottom 0.7s, border-bottom 0.6s, opacity 0.6s;
}
.content-float-user-options.active {
	padding-bottom: 10px;
	height:114px;
	border-bottom: 1px solid #d6d5d5;
	opacity:1;
	transition: height 0.7s, padding-top 0.7s, padding-bottom 0.7s, border-bottom 0.6s, opacity 0.6s;
}
.content-float-user-options a {
	float: left;
	width: 100%;
	text-decoration: none;
	color: #212121;
	font-size: 14px;
	padding: 10px 15px;
}
.content-float-user-options a:hover {
	background: #e8e8e8;
	color: #03a9f4;
}
.content-float-user-options a > i {
	color: #757575;
	margin-right: 10px;
	font-size: 17px;
}
.content-page div::after {
	clear: both;
	content: '';
	display: block;
	height: 1px;
}
.content-block,
.content-buttons {
	background: white;
	padding: 20px;
	border-radius: 3px;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.15);
}
.content-block-title,
.content-block-title-edit {
	font-size: 18px;
	margin-bottom: 20px;
	display: block;
}
.content-block-title-edit {
	margin-bottom: 40px;
}
.content-block ~ .content-block,
.content-block ~ .content-buttons {
	margin-top: 20px;
}
.content-buttons {
	text-align: right;
}
.content-buttons > button {
	margin-left: 5px;
}
.content-buttons button.ui-button,
.content-block-title ~ button,
button.bt-preview-file,
button.ui-button.button-default {
	box-shadow: none;
	border: none;
	color: #fff;
	background: #03a9f4;
	padding: 3px;
	text-shadow: none;
	transition: background 0.3s;
}
.content-buttons button.ui-button:hover,
.content-block-title ~ button:hover,
button.bt-preview-file:hover,
button.ui-button.button-default:hover
 {
	background: #0277bd;
	transition: background 0.3s;
}
.content-buttons button.ui-button:hover > span:first-child,
button.ui-button.button-default:hover > span:first-child {
	color: #ffc107;
}
.content-block-title ~ button {
	margin: 5px 0;
}
.ui-growl {
	border-radius: 7px;
	background: #f7f7f7;
	font-family: Roboto;
}
.ui-growl .ui-growl-item-container {
	background: #f7f7f7;
	border-radius: 7px;
	margin: 0px;
	color: inherit;
}
.input-field {
	position: relative;
	min-height: 50px;
	float: left;
}
.input-field > input,
.input-field > input.ui-inputfield.ui-inputtext,
.input-field > select {
	border: none;
	border-radius: 0;
	box-shadow: none;
	border-bottom: 1px solid #999;
	width: calc(100% - 10px);
	transition: border-bottom 0.3s;
}
.input-field > input:focus {
	border:none;
	border-bottom: 1px solid #0277bd;
	box-shadow: none;
	transition: border-bottom 0.4s;
}
.input-field > input ~ label {
	position: absolute;
	left: 5px;
	top: 8px;
	color: #999;
	font-size: 14px;
	pointer-events: none;
	transition: all 0.4s;
}
.input-field > input:focus ~ label,
.input-field > input.input-filled ~ label {
	color: #0277bd;
	top: -15px;
	font-size: 12px;
	left: 4px;
	transition: all 0.4s;
}
.input-field input.ui-state-disabled,
.input-field select[disabled=disabled]
{
	background: transparent;
	pointer-events: none;
	border-bottom: 1px dotted;
	opacity: .35;
}
.input-field > select ~ label {
	position: absolute;
	left: 4px;
	top: -15px;
	color: #0277bd;
}
.input-field > select {
	height: 25px;
}
.input-field option:first-child {
  color: #999;
}
.md-1 {
	width: 100%;
}
.md-2 {
	width: 50%;
}
.md-3 {
	width: 33.33%;
}
.md-4 {
	width: 25%;
}
@media only screen and (max-width: 500px) {
	body {
		font-size: 110%;
	}
	.md-2, .md-3, .md-4 {
		width: 100% !important;
	}
}
@media only screen and (min-width: 501px) and (max-width: 600px) {
	.md-3, .md-4 {
		width: 50% !important;
	}
}

.content-float-menu-pages button {
	text-align: left;
	width: 100%;
	padding: 10px 0 10px 5px;
	transition: background 0.5s;
	background: inherit;
	border: none;
	border-radius: 0;
	box-shadow: none;
}
.content-float-menu-pages button:hover {
	background: #e8e8e8;
	transition: background 0.5s;
}
.content-float-menu-pages button:hover span.fa {
	color: #0277bd;
	transition: color 0.5s;
}
.content-float-menu-pages button:hover span.ui-button-text {
	color: #03a9f4;
	transition: color 0.5s;
}
.input-field > .ui-message {
	position: absolute;
	text-align: right;
	color: #e91e63;
	font-weight: bold;
	right: 5px;
	top: 3px;
	border: none;
	background: transparent;
}
.input-field > input.ui-state-error {
	border-bottom-color: red;
	border-top: none;
	border-left: none;
	border-right: none;
}
button.bt-preview-file {
	position: absolute;
	right: 40px;
	top: -1px;
	height: 25px;
}
.ui-fileupload-buttonbar {
    display: none;
}
.ui-fileupload-content {
	border:none;
}
table tr > td {
    padding: 8px 6px !important;
}
.ui-datatable .ui-paginator a {
  box-shadow: none;
  border: none;
  color: #fff;
  background: #03a9f4;
  text-shadow: none;
  height: 23px;
  width: 25px;
  transition: background 0.3s;
}
.ui-datatable .ui-paginator a.ui-state-disabled {
  opacity: 0.35;
}
.ui-datatable .ui-paginator a:hover {
  background: #0277bd;
	transition: background 0.3s;
}
.dataListGrade .ui-datalist-content.ui-widget-content {
	border: none;
}
/*cards*/

.bot-cards {
	background: white;
	padding: 20px;
}

.bot-card {
	width: 220px;
	background: rgb(0, 0, 0, 0.1);
	border-radius: 3px;
	height: 110px;
	float: left;
	margin: 0 55px 55px 0;
	box-shadow: 0px 0px 4px 0px gray;
	transition: box-shadow 0.2s ease-out;
}

.bot-card:hover {
	box-shadow: 0px 0px 5px 0px black;
	transition: all 0.2s ease-in;
}

.botcard-icon {
	float: left;
	height: 100%;
	width: 60px;
	display: table;
	text-align: center;
}

.botcard-icon i {
	font-size: 40px;
	display: table-cell;
	vertical-align: middle;
}

.bot-card-title {
	float: left;
	height: 60px;
	text-align: left;
	width: calc(100% - 60px);
	display: table;
}

.bot-card-title span {
	display: table-cell;
	vertical-align: middle;
	font-size: 18px;
	font-weight: bold;
}

.bot-card-options {
	float: left;
	text-align: left;
	width: calc(100% - 110px);
}
.bot-card-options > button {
  margin-right: 10px;
}
.bot-cards:after {
  display: block;
  content: '';
  clear: both;
}
.bots-content {
	width: 100%;
	text-align: center;
}

/*/cards*/